<div class="jumbotron">
<div class="container">	
	 <h1 class="titulos">Mis Pines</h1>
	<h2 class="titulos">Octavio</h2>
	<a href="http://en1mes.com" class="btn btn-default">en1mes
		<span class="glyphicon glyphicon-heart" style="color: blue"> </span>
		</a>
</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-4">
		<div class="page-header">
	  <h2 style="display: inline;">Example page header</h2>
	  <span class="label label-default">New</span>
	</div>
		<a href="http://en1mes.com" target="blank"> en un mes en otra pagina</a>
		<p class="titulos">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
<div class="col-md-4">
		<div class="page-header">
 
	<h2>subtitulo</h2>
	    </div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

<div class="col-md-4">
<div class="page-header">
	<h3>sub subtitulo</h3>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<a href="http://en1mes.com">
<img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png" alt="logo de en 1 mes">
</a>
<hr>
<br>
<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.G25yfsOLgB-nEt0HauA_MAHaD-%26pid%3D15.1&f=1" class="img-responsive">
<hr>
<ol>
	<li>item 1</li>
	<li>item 2</li>
	<li>item 3 </li>

</ol>
	</div>
</div>
</div>
